.btn-play {
    background-color: #26ad2d;
    color: #ffffff;
    padding: 1.5% 20px;
    border: 5px solid #6de473;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 20% 30%;
    width: 40%;
    transition: 1s;
}

.btn-play:hover {
    background-color: #22a528;
    transform: scale(1.1);
}

.btn-play h1 {
    font-size: 20px;
}

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #ffffff96;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h1 {
            color: #333;
        }

        .play-button {
            padding: 20px 40px;
            font-size: 18px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 200px;
            display: gridd;
            place-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .play-button:hover {
            background-color: #218838;
        }

        nav {
            display: flex;
            justify-content: center;
            padding-right: 30px;
            gap: 50px;
            margin: 0;
            list-style-type: none;
            border: 50px;
            background-color: #333;
            height: 50px;
            align-items: center;
            color: white;
        }

        nav li {
            cursor: pointer;
            font-size: 18px;
        }

        nav li a:hover {
            color: #cfcfcf;
        }

         nav li a{
            text-decoration: none;
            color: white;
        }

        .box {
            margin-top: 150px;
            padding: 20px;
        }