body {
  font-family: sans-serif;
  background: #eef8ff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.canvas-wrapper {
  position: relative;
}

.zoom-btns {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.zoom-btns button {
  width: 34px;
  height: 34px;
  font-size: 22px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.panel {
  background: white;
  padding: 20px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.15);
  text-align: left;
}

label {
  display: block;
  margin: 15px 0;
}

.eq {
  font-size: 22px;
  margin-bottom: 20px;
}

.back {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    padding: 0.5px 18px;
    margin: 5px 5px;
}

.back:hover {
    background-color: #f0f0f0;
    border-color: #999999;
}